<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.curso.librerias">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar">

        <activity
            android:name=".MenuPrincipal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gson.ActivityGson"
            android:label="@string/title_activity_activity_gson" >
        </activity>
        <activity
            android:name=".orm.ActivityOrm"
            android:label="@string/title_activity_activity_orm" >
        </activity>
        <activity
            android:name=".universal.ActivityUniversalImage"
            android:label="@string/title_activity_activity_universal_image" >
        </activity>
        <activity
            android:name=".iconis.ActivityIconics"
            android:label="@string/title_activity_activity_iconics" >
        </activity>
        <activity
            android:name=".material.ActivityMaterial"
            android:label="@string/title_activity_activity_material" >
        </activity>
        <activity
            android:name=".slider.ActivitySlider"
            android:label="@string/title_activity_activity_slider" >
        </activity>
        <activity
            android:name=".zxing.ActivityZxing"
            android:label="@string/title_activity_activity_zxing" >
        </activity>

    </application>

</manifest>
